
*{
    padding: 0;
    margin: 0;

}
body {
    background: url("../static/black-paper.png"); 
    background-color: rgb(10, 9, 9);
}

/* header */
header{

    width: 100%;
    height: 20vh;
    background: none;
    background-color: #000;

}
.headcontener {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    justify-content: center;

}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.logo img {
    max-height: 100px;
}

.navi {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navi-link {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #f5e8d2;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden; 
    z-index: 1;
}

.navi-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #fe5236;
    transition: 0.5s ease;
    z-index: 2; 
}

.navi-link:hover {
    color: white;
    transition-delay: 0.5s;
    z-index: 3; 
}

.navi-link:hover::before {
    width: 100%;
}

.navi-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #fe5236;
    transition: 0.4s ease;
    z-index: 0; 
}

.navi-link:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    z-index: -1; 
}


.language {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
} 

.language-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin: 10px;
  }

  .language-btn:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #fe5236;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  .language-btn:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  .language-btn span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #f5e8d2;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }

  .language-btn:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }

  /* end header */
  /* main  */

  /* intro */
  .intro {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 90%;
}
.intro::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    color: #f5e8d2;
}

.Name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #f5e8d2;
}

.Name::before,
.Name::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #f5e8d2;
    display: inline-block;
    margin: 0 30px;
}
.introcat{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}
/*end intro */
/* about */
.About {
    width: 900px;
    height: 60vh;
    margin: 0 auto; 
    
}

.Sectionname {
    text-align: center;
    font-size: 36px;
    color: #f5e8d2;
    margin: 30px 0 50px 0;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info-container {
    width: 450px; 
    display: flex;
    flex-direction: column;
    color: #f5e8d2;

}

.infoneme {
    margin: 0;
    text-align: center;
}

.infotext {
    margin-top: 40px; 
    text-align: left;
}

.map-container {
    width: 400px; 
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: 0;
    box-shadow: 0 0 10px #fe5236; 
}
/* end about */
/* social media */
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 45vh;
    margin: 0 auto; 
}

.solialscontener {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.fb, .ig {
    width: 450px;
    text-align: center;
    padding: 20px;
}
.fbtop, .igtop{
    margin-bottom: 30px;
    color: #f5e8d2;
}

.fbtext, .igtext {
    width: 300px;
    text-align: left;
    margin: 0 auto 30px;
    color: #f5e8d2;
}
.social-link {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}


.fbul, .igul {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  ul li {
    list-style: none;
  }
  ul li a {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: #404040;
    margin: 0 30px;
    transition: 0.5s;
  }
  ul li a span {
    position: absolute;
    transition: transform 0.5s;
  }
  ul li a span:nth-child(1),
  ul li a span:nth-child(3) {
    width: 100%;
    height: 3px;
    background: #fe5236;
  }
  ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }
  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  ul li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
  }
  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  
  ul li a span:nth-child(2),
  ul li a span:nth-child(4) {
    width: 3px;
    height: 100%;
    background: #fe5236;
  }
  ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
  }
  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform 0.5s;
  }
  ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
  }
  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s;
  }
  .facebook , .instagram {
    color: #fe5236;
  }
  
  .facebook:hover {
    color: #3b5998;
  }
  .facebook:hover span {
    background: #3b5998;
  }
  .instagram:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.instagram:hover span {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}



/* end social media */
/* menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 70vh;
    margin: 0 auto;
}
.menucontainer {
    display: flex;
    justify-content: space-between;

}
.Recomendation, .menulink {
    width: 250px;
    text-align: center;
}
.recomendationname, .linkmenu {
    margin-bottom: 30px;
    color: #f5e8d2;
}
.recomendationtext {
    text-align: left;
    color: #f5e8d2;
}
.recomendationphoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.recphoto {
    max-width: 100%;
    height: auto;
}
.link-menu {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    position: relative;
    width: max-content;
    margin: 0 auto;
  }
  
  .menubtn {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 8px;
    padding: .5em 1.5em;
    font-size: 20px;
    font-weight: 600;
    color: #fe5236;
    transition: all .3s ease;
    text-decoration: none;
  }
  
  .arrow {
    color: #fe5236;
    position: absolute;
    pointer-events: none;
    font-size: 24px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .menubtn:hover {
    letter-spacing: 2px;
  }
  
  .menubtn:hover ~ .second {
    opacity: .66;
    right: -20px;
    transition-delay: 50ms;
  }
  
  .menubtn:hover ~ .third {
    opacity: .33;
    right: -40px;
    transition-delay: 100ms;
  }
  
  .second, 
  .third {
    opacity: 0;
  }
  
  
/* end menu */
/* zamów */
.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 40vh;
    margin: 0 auto; 
    
    
}
.ordertext {
    text-align: center;
    max-width: 300px;
    margin-bottom: 50px;
    color: #f5e8d2;
}
.orderlinks {
    display: flex;
    justify-content: space-between;
    width: 900px;
}
.pyszne, .uber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}
/* uber button */
.uberlink {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 50px;
    background-color: #3FC060;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none; 
    box-shadow: 0 0 20px #3FC060; 
    font-weight: bold;
}
.text {
    transition: opacity 0.3s ease-in-out;
}
.iconsub {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    opacity: 0;
    color: #000;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.fa-motorcycle {
    position: relative;
    top: 4px;
    left: -40px;
    font-size: 16px;
    transition: left 2s ease-in-out;
}
.fa-house {
    position: relative;
    right: 45px; 
    font-size: 24px;
}
.uberlink:hover .text {
    opacity: 0;
}
.uberlink:hover .iconsub {
    opacity: 1;
    visibility: visible;
}
.uberlink:hover .fa-motorcycle {
    left: 120px; 
}
/* end uber button */
/* pyszne button */
.pysznelink {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 50px;
    background-color: #f36712;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none; 
    box-shadow: 0 0 20px #f36712; 
    font-weight: bold;
}
.text {
    transition: opacity 0.3s ease-in-out;
}
.icons {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    opacity: 0;
    color: white;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.fa-motorcycle {
    position: relative;
    top: 4px;
    left: -40px;
    font-size: 16px;
    transition: left 2s ease-in-out;
}
.fa-house {
    position: relative;
    right: 45px; 
    font-size: 24px;
}
.pysznelink:hover .text {
    opacity: 0;
}
.pysznelink:hover .icons {
    opacity: 1;
    visibility: visible;
}
.pysznelink:hover .fa-motorcycle {
    left: 120px; 
}
/*end pyszne button */
/* end zamów */
/* rezerwacje */
.reservations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 20vh;
    margin: 0 auto; 
}
.rezerwacja{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto; 
    color: #f5e8d2;
}
/* end rezerwacje */
/* rewiev */
.rating{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 30vh;
}
.ratingtext{
    margin-bottom: 80px;
    text-align: center;
    color: #f5e8d2;
}
.ratingbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.review-btn {
    position: relative;
    padding: 13px 50px; 
    background: #fe5236;
    font-size: 17px;
    font-weight: 900;
    color: #f5e8d2;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #fe5236;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }

  .review-btn:hover {
    padding: 13px 40px;
    border-radius: 8px 8px 24px 24px;
  }

  /* Gwiazdki nad przyciskiem */
  .stars {
    position: absolute;
    top: -45px; 
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .stars i {
    opacity: 0;
    font-size: 28px; 
    color: #ccc;
    transform: scale(0.5);
    margin-right: 5px;
    display: inline-block;
    transition: opacity 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }

  .review-btn:hover .stars i {
    opacity: 1;
    color: gold;
    transform: scale(1);
  }
  .review-btn:hover .stars i:nth-child(1) {
    transition-delay: 0.1s;
  }
  .review-btn:hover .stars i:nth-child(2) {
    transition-delay: 0.2s;
  }
  .review-btn:hover .stars i:nth-child(3) {
    transition-delay: 0.3s;
  }
  .review-btn:hover .stars i:nth-child(4) {
    transition-delay: 0.4s;
  }
  .review-btn:hover .stars i:nth-child(5) {
    transition-delay: 0.5s;
  }

/* end rewiev */
/* end main */
/* footer */
footer {
    width: 100%;
    height: 24vh;
    background-color: black;
}
.end {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 40px;
    text-align: center;
    align-items: center;
}
.logoend img {
    width: 130px;
    height: 130px;
    margin-left: 0;
}
.naviend {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fot-link {
    font-size: 16px;
    color: #f5e8d2;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-decoration: none;
    margin: 5px 0;
  }
  
.fot-link:focus,
.fot-link:hover {
    color: #f5e8d2;
  }
  
.fot-link:focus:after,
.fot-link:hover:after {
    width: 100%;
    left: 0%;
  }
  
.fot-link:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fe5236;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
/* social media footer */
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 0;
}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #1877f2; 
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    font-size: 24px;
    transition: all 0.45s;
}

.social-link:nth-child(2) {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);

}

.social-link:hover {
    transform: rotate(360deg);
    transform-origin: center center;
    background: #fe5236;
    color: #f5e8d2; 
}
footer p {
    text-align: center;
    color: #f5e8d2; 
}
/* end footer */

/* menu */
.menu{
    height: auto;
}
.titlesite{
    color: #f5e8d2;
    font-size: 36px;
    margin-top: 30px;
}
.contenermenu{
    color: #f5e8d2;
}
.limenu {
    cursor: default;
}
.Menudescription{
    font-size: 20px;
    margin: 20px 0 30px 0;
    text-align: center;
}
.alkodescription{
    font-size: 20px;
    margin: 15px 0 25px 0;
    text-align: center;
}
.dish{
    font-size: 20px;
}
.price{
    font-size: 20px;
}
.ingredients{
    font-size: 17px;
}

.category {
    text-align: center;
    margin: 15px 0 25px 0;
    font-size: 26px;
}
.lilcategory{
    text-align: center;
    margin: 5px 0 10px 0;
    font-size: 22px;
}

.menu-item, .menu-item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.ingredients {
    margin-top: 5px;
}

.limenu:hover .dish,
.limenu:hover .price {
    color: #fe5236; 
    font-weight: bold;
    font-size: 1.4em; 
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}
.wino{
    margin-bottom: 40px;
}

.navimenu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .btn-53 {
    text-decoration: none;
    border: 1px solid;
    border-radius: 999px;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 900;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    text-transform: uppercase;
    background-color: #f5e8d2;
    color: #fe5236;;
    cursor: pointer;
    transition: background 0.3s;
    
  }
  
  .btn-53 .original {
    background: #fe5236;;
    color: #f5e8d2;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
    width: 100%;
    height: 100%;
  }
  
  .btn-53:hover .original {
    transform: translateY(100%);
  }
  
  .btn-53 .letters {
    display: inline-flex;
  }
  
  .btn-53 span {
    opacity: 0;
    transform: translateY(-15px);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
  }
  
  .btn-53 span:nth-child(2n) {
    transform: translateY(15px);
  }
  
  .btn-53:hover span {
    opacity: 1;
    transform: translateY(0);
  }
  
  .btn-53:hover span:nth-child(2) { transition-delay: 0.1s; }
  .btn-53:hover span:nth-child(3) { transition-delay: 0.15s; }
  .btn-53:hover span:nth-child(4) { transition-delay: 0.2s; }
  .btn-53:hover span:nth-child(5) { transition-delay: 0.25s; }
  .btn-53:hover span:nth-child(6) { transition-delay: 0.3s; }
  .btn-53:hover span:nth-child(7) { transition-delay: 0.35s; }
  .btn-53:hover span:nth-child(8) { transition-delay: 0.4s; }
  .btn-53:hover span:nth-child(9) { transition-delay: 0.45s; }
  .btn-53:hover span:nth-child(10) { transition-delay: 0.5s; }
  .btn-53:hover span:nth-child(11) { transition-delay: 0.55s; }
  .btn-53:hover span:nth-child(12) { transition-delay: 0.6s; }
  
/* end menu */