{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Boru ramen shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        {% block header %}
        <div class="headcontener">
            <div class="logo">
                <img src="{% static 'logoboru.png' %}" alt="Logo">
            </div>
            <label class="burger" for="burger">
                <input type="checkbox" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="navi">
                <a href="{% url 'main' %}" class="navi-link">{% trans "Strona Główna" %}</a> 
                <a href="{% url 'main' %}#about" class="navi-link">{% trans "O Nas" %}</a> 
                <a href="{% url 'menu' %}" class="navi-link">{% trans "Menu" %}</a> 
                <a href="{% url 'main' %}#order" class="navi-link">{% trans "Zamów onlinie" %}</a> 
            </div>
            <div class="language">
                <button id="pl" class="language-btn">
                    <span>PL</span>
                </button>
                <button id="en" class="language-btn">
                    <span>EN</span>
                </button>
            </div>
        </div>
        {% endblock %}
    </header>
    <main>
        {% block main %}
        <div class="intro" >
        <style>
            .intro {
                background-image: url("{% static 'background.jpg' %}");
            }
        </style>
        
            <div class="overlay">
                <div class="slogan">
                    <h1>{% trans "Głęboki smak Japonii w każdej misce" %}</h1>
                    <img src="{% static 'kot.png' %}" alt="Cat" class="introcat">
                </div>
                <div class="Name">
                    <h2>Bōru Ramen Shop</h2>
                </div>
            </div>  
        </div>
        <div class="About" id="about" >
            <h2 class="Sectionname">{% trans "O Nas" %}</h2>
            <div class="info">
                <div class="info-container">
                    <h3 class="infoneme">
                        {% trans "Jesteśmy restauracją w Lublinie specjalizującą się w tradycyjnych japońskich zupach ramen oraz yaki udon." %}
                    </h3>
                    <p class="infotext">
                        {% trans "Znajdziesz nas na ulicy: " %} <strong>Kosciuszki 3 Lublin</strong> <br>
                    <br>{% trans "Jesteśmy otwarci "%}  <strong>{% trans "od poniedziałku do niedzieli" %}</strong>  <br>
                    {% trans "W godzinach <strong>12.00-21.30</strong>" %} <br><br>
                    {% trans "Telefon kontaktowy: <strong>507 030 411 </strong>" %} <br><br>
                    {% trans "W naszej restauracji zwierzątka są równie mile widziani, co ich opiekunowie." %}
                    </p>
                </div>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19979.844957648344!2d22.539157089295877!3d51.247059592315715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472257ab3572519b%3A0xd126018922598090!2sB%C5%8Dru%20Ramen%20Shop!5e0!3m2!1spl!2spl!4v1741697708091!5m2!1spl!2spl" 
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
        
        <div class="socials">
            <h2 class="Sectionname">{% trans "Nasze Social Media" %}</h2> 
                <div class ="solialscontener">
                    <div class="fb">
                        <h3 class="fbtop">{% trans "Nasz Facebook" %}</h3>
                        <p class="fbtext">{% trans "Dołącz do naszej społeczności i bądź na bieżąco z nowymi ramenami, pysznymi dodatkami i wyjątkowymi promocjami. Śledź nas, by nie przegapić ramenowych inspiracji!" %}</p>
                        <ul class="fbul">
                            <li class="fbli">
                              <a class="facebook" href="https://www.facebook.com/BoruRamenShop/" target="_blank">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <i class="fa-brands fa-facebook"></i>
                              </a>
                            </li>
                          </ul>
                    </div> 
                    <div class="ig">
                        <h3 class="igtop">{% trans "Nasz Instagram" %}</h3>
                        <p class="igtext">{% trans "Obserwuj nas na Instagramie, odkrywaj smakowite nowości, kulisy kuchni i apetyczne zdjęcia, które rozbudzą Twój apetyt!" %}</p>
                        <ul class="igul">
                            <li class="igli">
                                <a class="instagram" href="https://www.instagram.com/boruramenshop/" target="_blank">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
        </div>
        <div class="menu">
            <h2 class="Sectionname">{% trans "Menu" %}</h2>
            <div class="menucontainer">
                <div class="Recomendation">
                    <h3 class="recomendationname">
                        {% trans "Rekomendacje" %}
                    </h3>
                    <p class="recomendationtext">
                       <strong>{% trans "Tantamen Ramen" %} <br></strong> 
                        {% trans "Odkryj nasz wyjątkowy Tantamen Ramen! 🍜🔥 Soczysta mielona wieprzowina, świeży szczypiorek, chrupiące marynowane kiełki oraz kremowe marynowane jajko, zanurzone w głębokim, aromatycznym bulionie wieprzowym. To idealne połączenie intensywnych smaków, które zachwyci każde podniebienie! Przyjdź i spróbuj tej wyjątkowej kompozycji!" %}<br><br>
                        <strong>{% trans "Czarna Mrożona Herbata z mlekiem " %}<br></strong>
                        {% trans "Dopełnij swoje rameny orzeźwiającą Czarną Mrożoną Herbatą z mlekiem! 🧊🥛 Jej głęboki, wyrazisty smak w połączeniu z delikatną kremowością mleka tworzy idealne uzupełnienie dla aromatycznych dań. Spróbuj i ciesz się doskonałą harmonią smaków!" %}
                        
                    </p>
                </div>
                <div class="recomendationphoto">
                    <img src="{% static 'tantamen.png' %}" alt="Ramen" class="recphoto">
                </div>
                <div class="menulink">
                    <h3 class="linkmenu">
                        {% trans "Całe menu zobaczysz tutaj" %}
                    </h3>
                    <div class="link-menu">
                        <a href="{% url 'menu' %}" class="menubtn">{% trans "Menu" %}</a>
                        <span class="arrow first"><i class="fa-solid fa-arrow-right"></i></span>
                        <span class="arrow second"><i class="fa-solid fa-arrow-right"></i></span>
                        <span class="arrow third"><i class="fa-solid fa-arrow-right"></i></span>
                      </div>
                      
                </div>
            </div>  
        </div>
        <div class="order" id="order">
            <h2 class="Sectionname">{% trans "Zamów onlinie" %}</h2>
            <div class="ordertext">
                <p class="textorder">
                    {% trans "Na obecną chwilę nie obsługujemy dostaw bezpośrednio z restauracji." %} <br>
                    {% trans "Chcesz zamówić ramen do domu? 🍜 Skorzystaj z Pyszne.pl lub Uber Eats. A jeśli wolisz odebrać osobiście, zadzwoń do nas pod numer 507 030 411 – przygotujemy wszystko na czas! " %}

                </p>
            </div>
            <div class="orderlinks">
                <div class="pyszne">
                    <a href="https://www.pyszne.pl/menu/boru-ramen-shop-lublin" class="pysznelink" target="_blank">
                        <span class="text">{% trans "Zamów przez Pyszne pl" %}</span>
                        <div class="icons">
                            <i class="fa-solid fa-motorcycle"></i>
                            <i class="fa-solid fa-house"></i>
                        </div>
                    </a>
                </div>
                <div class="uber">
                    <a href="https://www.ubereats.com/pl/store/boru-ramen-shop-lublin/vl46od_0Tq-J3v8Ez6-XHw?diningMode=DELIVERY&pl=JTdCJTIyYWRkcmVzcyUyMiUzQSUyMnVsaWNhJTIwV2luY2VudGVnbyUyMFdpdG9zYSUyMDFEJTIyJTJDJTIycmVmZXJlbmNlJTIyJTNBJTIyZmFkYWIyODItN2NlZC1iY2ViLTVlNzItNzAyY2ExYjFlZjljJTIyJTJDJTIycmVmZXJlbmNlVHlwZSUyMiUzQSUyMnViZXJfcGxhY2VzJTIyJTJDJTIybGF0aXR1ZGUlMjIlM0E1MS4yMjAwMiUyQyUyMmxvbmdpdHVkZSUyMiUzQTIyLjcxMzU2JTdE" class="uberlink" target="_blank">
                        <span class="text">{% trans "Zamów przez Uber Eats" %}</span>
                        <div class="iconsub">
                            <i class="fa-solid fa-motorcycle"></i>
                            <i class="fa-solid fa-house"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="reservation">
            <h2 class="Sectionname">{% trans "Rezerwacje" %}</h2>
            <div class="rezerwacja">
                <p class="rezerwacjatext">
                    {% trans "Chcesz zarezerwować stolik? 📞✨ Zadzwoń do nas, a my zajmiemy się resztą! 😊🥢" %}
                </p>
            </div>
        </div>
        <div class="rating">
            <h2 class="Sectionname">{% trans "Oceń nas" %}</h2>
            <p class="ratingtext">{% trans "Twoja opinia ma dla nas ogromne znaczenie! 💬✨ Jeśli smakowało Ci u nas, podziel się swoją opinią na Google – będzie nam bardzo miło! 😊🍜" %}
            </p>
            <div class="ratingbutton">
                <a href="https://search.google.com/local/writereview?placeid=ChIJm1FyNatXIkcRkIBZIokBJtE" target="_blank" class="review-btn">
                    {% trans "Oceń nas na Google" %}
                    <div class="stars">
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                    </div>
                  </a>
            </div>
        </div>
        
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <div class="end">
            <div class="logoend">
                <img src="{% static 'logoboru.png' %}" alt="Logo">
            </div>
            <div class="naviend">
                <a href="{% url 'main' %}" class="fot-link">{% trans "Strona Główna" %}</a> 
                <a href="{% url 'main' %}#about" class="fot-link">{% trans "O Nas" %}</a> 
                <a href="{% url 'menu' %}" class="fot-link">{% trans "Menu" %}</a> 
                <a href="{% url 'main' %}#order" class="fot-link">{% trans "Zamów online" %}</a>
                <a href="{% url 'polityka_strony'%}" class="fot-link">{% trans "Polityka prywatności" %}</a>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/BoruRamenShop/" class="social-link" >
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/boruramenshop/" class="social-link" >
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>            

        </div>
        <p>{% trans "2025 Boru Ramen Shop. Wszelkie prawa zastrzeżone." %}</p>

        {% endblock %}
    </footer>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>