{% extends 'main.html' %}
{% load i18n %}
{% block title %}Menu{% endblock %}


{% block main %}
<div class="menu">
    <h1 class="titlesite">Menu</h1>
    <div class="contenermenu">
        <div class="Name">
            <h2>Bōru Ramen Shop</h2>
        </div>
        <div class="navimenu">
            {% for category in categories %}
                <a href="{% url 'menu' %}#{{ category.anchor }}" class="btn-53">
                    <div class="original">{{ category.name }}</div>
                    <div class="letters">
                        {% for letter in category.name %}
                            <span>{{ letter }}</span>
                        {% endfor %}
                    </div>
                </a>
            {% endfor %}
        </div>
        
        <div class="Menudescription">
            <p class="textinmenu">{% trans "Lista alergentów dostepna u obsługi" %} <br>
                {% trans "Od 5 osób doliczamy do rachunku 10% opłaty za serwis" %}
            </p>
        </div>
        <div class="przystawki">
            <h2 class="category" id="Przystawki">{% trans "Przystawki" %}</h2>
            <ul class="ulmenu">
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Talerz przystawek" %}</h3>
                        <span class="price">76 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Sajgonki krewetki 4 szt, sajgonki warzywne 2 szt, tempura kalamar 4 szt, tempura kwiat 4 szt" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Tempura krewetki 3 szt" %}</h3>
                        <span class="price">27 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Tempura kalamari 4 szt" %}</h3>
                        <span class="price">26 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Warzywa w cieście tempura" %}</h3>
                        <span class="price">24 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Sajgonki krewetki 4 szt" %}</h3>
                        <span class="price">25 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Sajgonki warzywa 2 szt" %}</h3>
                        <span class="price">25 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu"> 
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Edamame" %}</h3>
                        <span class="price">18 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Koreańskie kimchi" %}</h3>
                        <span class="price">17 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Pierożki z krewetkami 6 szt" %}</h3>
                        <span class="price">27 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Cebula, krewetki, imbir, kolendra, sos sojowy"%}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Pierożki z kurczakiem 8 szt" %}
                        </h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Cebula, mielony kurczak, imbir, kolendra, sos sojowy"%}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Pierożki wegańskie 8 szt 🍃" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Cebula, kapusta, imbir, kolendra, sos sojowy"%}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Chipsy krewetkowe" %}</h3>
                        <span class="price">15 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Zupa miso" %}</h3>
                        <span class="price">25 {% trans "zł" %}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dania_glowne" >
            <h2 class="category" id="Dania_glowne">{% trans "Dania główne" %}</h2>
            <ul class="ulmenu">
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Tori sweet" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Spiringrolls krewetki 4 szt, spiringroll warzywa 2 szt, tempura kalamar 4 szt, tempura kwiat 4 szt" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Boru tori" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Chrupicy kurczak, miska ryżu jaśminowego, łagodny słodki sos" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Basilya chicken" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Ryż jaśminowy, sos ostrygowy, kurczak, fasola, papryka, cebula, marchewka, bazylia" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Basilya tofu 🍃" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Ryż jaśminowy, sos ostrygowy, tofu, fasola, papryka, cebula, marchewka, bazylia" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Czerowne Tteokbokki curry kurczak 🌶" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Ryż jaśminowy, mleko kokosowe, kurczak, fasola, Tteokbokki papryka, marchewka, bazylia" %} </p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Czerowne Tteokbokki curry tofu 🍃 🌶" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Ryż jaśminowy, mleko kokosowe, tofu, fasola, Tteokbokki papryka, marchewka, bazylia" %} </p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Czerowne Tteokbokki curry krewetki 🌶" %}
                        </h3>
                        <span class="price">41 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Ryż jaśminowy, mleko kokosowe, krewetki, fasola, Tteokbokki papryka, marchewka, bazylia" %} </p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Chowmien kurczak 🌶🌶" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Kurczak, pikantny smażony makaron, papryka, marchew, cebula" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Chowmien tofu 🍃 🌶🌶" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans " Tofu, pikantny smażony makaron, papryka, marchew, cebula" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Chowmien krewetki 🌶🌶" %}</h3>
                        <span class="price">44 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Krewetki,  pikantny smażony makaron, papryka, marchew, cebula" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Ryż tonkatsu" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Ryż jaśminowy, chrupiacy kotlet wieprzowy, sos katsu" %}</p>
                </li>
                <li class="limenu"> 
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Cripy tofu katsu 🍃" %}</h3>
                        <span class="price">40 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Ryż jaśminowy,chrupiące tofu, sos katsu" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Łosoś katsu 🌶" %}</h3>
                        <span class="price">66 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Ryż jaśminowy,chrupiący łosoś, sos katsu" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Yaki udon z krewetkami" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Krewetki, makaron udon, sos ostrygowy, marchew, cebula, papryka, brokuły" %} </p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Yaki udon z wołowiną" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Wołowina, makaron udon, sos ostrygowy, marchew, cebula, papryka, brokuły" %}</p>
                </li>
            </ul>
        </div>
        <div class="Ramen">
            <h2 class="category" id="Ramen">{% trans "Ramen" %}</h2>
            <ul class="ulmenu">
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Tonkotsu Ranem" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Chasu, szczypiorek, grzyby mun, cebula, marynowane jajko, bulion wieprzowy" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Szechuan Korean Ramen 🌶🌶🌶" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Chasu, szczypiorek, kiełki, różowy imbir, marynowane jajka, bulion wieprzowy" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Tantamen Ramen" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Mielona wieprzowina, szczypiorek, marynowane kiełki, marynowane jajka, bulion wieprzowy" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Nissokhu Ramen" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Krewetki Nobashi, szczypiorek, kiełki, małże, grillowana cytryna, bulion z kurczaka" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Shoyu Assari Ramen" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Chasu, szczypiorek, kiełki, marynowane jajko, bulion z kurczaka" %}
                    </p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Spicy Miso Ramen 🌶" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">
                        {% trans "Marynowany kurczak w sosie sambal, szczypiorek, marynowane kiełki, różowy imbir, marynowane jajka, bulion wieprzowy" %}
                    </p>
                </li>
                <li class="limenu"> 
                    <div class="menu-item">
                        <h3 class="dish">{% trans "BBQ Ramen" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Żeberka wieprzowe bez kości, szczypiorek, różowy imbir kanpyo, marynowane jajka, bulion wieprzowy" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Beef Ramen 🌶🌶" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Gulasz wołowy, szczypiorek, kielki, marynowane jajko, kapusta pekińska, bulion wołowy" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Vegan Tantamen Ramen 🍃" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Kurczak wegański, grzyby shitake, szczypiorek, kiełki edamame, bulion zamówienia z mieszanych grzybów" %}</p>
                </li>
                <li class="limenu">
                    <div class="menu-item">
                        <h3 class="dish">{% trans "Szechuan Korean Vegan Ramen 🍃 🌶🌶🌶" %}</h3>
                        <span class="price">45 {% trans "zł" %}</span>
                    </div>
                    <p class="ingredients">{% trans "Kurczak wegański, grzyby shitake, szczypiorek, kiełki edamame, bulion zamówienia z mieszanych grzybów" %}</p>
                </li>
            </ul>
        </div>
        <div class="dodatki">
            <h2 class="category" id="Dodatki">{% trans "Dodatki do Ramenu" %}</h2>
            <ul class="ulmenu">
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Mięso" %}</h3>
                        <span class="price">14 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Jajko" %}</h3>
                        <span class="price">8 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Makaron" %}</h3>
                        <span class="price">13 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Makaron soba (bez glutenu)" %}</h3>
                        <span class="price">13 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Makaron ryżowy (bez glutenu)" %}</h3>
                        <span class="price">13 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Ryż" %}</h3>
                        <span class="price">8 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Łosoś" %}</h3>
                        <span class="price">33 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Krewetki" %}</h3>
                        <span class="price">16 {% trans "zł" %}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="desery">
            <h2 class="category" id="Desery">{% trans "Desery" %}</h2>
            <ul class="ulmenu">
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Banan w Tempurze" %}</h3>
                        <span class="price">21 {% trans "zł" %}</span>
                    </div>
                </li>
                <li class="limenu">
                    <div class="menu-item2">
                        <h3 class="dish">{% trans "Lody kokosowe" %}</h3>
                        <span class="price">19 {% trans "zł" %}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="napoje">
            <h2 class="category" id="Napoje">{% trans "Napoje Bezalkoholowe" %}</h2>
            <div class="icetea">
                <h3 class="lilcategory">{% trans "Ice Tea" %} </h3>
                <ul class="ulmenu">
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Zielona Mrożona  Herbata" %}</h3>
                            <span class="price">16 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Zielona Mrożona  Herbata z mlekiem" %}</h3>
                            <span class="price">16 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Matcha Latte" %}</h3>
                            <span class="price">21 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Taro Milk" %}</h3>
                            <span class="price">21 {% trans "zł" %}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="herbata">
                <h3 class="lilcategory">{% trans "Herbaty" %}</h3>
                <ul class="ulmenu">
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Imbiorowo-Miodowa Pomarańczowa Herbata" %}</h3>
                            <span class="price">20 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Sencha Jaśminowa" %}</h3>
                            <span class="price">16 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Sencha Wiśniowa" %}</h3>
                            <span class="price">16 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Sencha Gainmatcha" %}</h3>
                            <span class="price">16 {% trans "zł" %}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="woda">
                <h3 class="lilcategory">{% trans "Woda" %} </h3>
                <ul class="ulmenu">
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Woda Niegazowana 300ml" %}</h3>
                            <span class="price">10 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Woda Niegazowana 700ml" %}</h3>
                            <span class="price">14 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Woda Gazowana 300ml" %}</h3>
                            <span class="price">10 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Woda Gazowana 700ml" %}</h3>
                            <span class="price">14 {% trans "zł" %}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="softdrink">
                <h3 class="lilcategory">{% trans "Soft drink" %}</h3>
                <ul class="ulmenu">
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Japoński lemonade Ramune 200ml" %}</h3>
                            <span class="price">17 {% trans "zł" %}</span>
                        </div>
                        <p class="ingredients"></p>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Aloe-vera 500ml" %}</h3>
                            <span class="price">17 {% trans "zł" %}</span>
                        </div>
                        <p class="ingredients"></p>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Aloe-vera 1 litr" %}</h3>
                            <span class="price">30 {% trans "zł" %}</span>
                        </div>
                        <p class="ingredients"></p>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Cocacola 250ml" %}</h3>
                            <span class="price">10 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Cocacola 500ml" %}</h3>
                            <span class="price">14 {% trans "zł" %}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alkohole">
            <h2 class="category" id="Alkohole">{% trans "Alkohole" %}</h2>
            <p class="alkodescription">
                {% trans "Nie sprzedajemy alkoholu osobom niepełnoletnim" %} <br><br>
                {% trans "Nie sprzedajemy alkoholu osobom nietrzeźwym" %} 
            </p>

            <div class="piwo">
                <h3 class="lilcategory">{% trans "Piwo" %}</h3>
                <ul class="ulmenu">
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Asahi super dry 330ml" %}</h3>
                            <span class="price">17 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Kirin 330ml" %}</h3>
                            <span class="price">17 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Kirin 330ml 0% " %}</h3>
                            <span class="price">17 {% trans "zł" %}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="wino">
                <h3 class="lilcategory">{% trans "Wino" %}</h3>
                <ul class="ulmenu">
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Choya 150ml" %}</h3>
                            <span class="price">14 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Choya 500ml" %}</h3>
                            <span class="price">38 {% trans "zł" %}</span>
                        </div>
                    </li>
                    <li class="limenu">
                        <div class="menu-item2">
                            <h3 class="dish">{% trans "Choya original 500ml butelka" %} </h3>
                            <span class="price">48 {% trans "zł" %}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}