{% extends 'main.html' %}
{% load i18n %}
{% block title %}Polityka strony{% endblock %}


{% block main %}
<div class="polityka">
    <h1>{% trans "Polityka Prywatności" %}</h1>
    <div class="containerpolityka">
        <h2 class="titlepolitic">{% trans "I. Postanowienia ogólne" %}</h2>
        <p class="textpolitic">{% trans "Niniejsza Polityka prywatności określa zasady zbierania, przetwarzania i przechowywania danych użytkowników Serwisu" %} <strong>boruramen.pl</strong></p>
        <p class="textpolitic">{% trans "Serwis nie zbiera danych osobowych użytkowników, chyba że zostaną one dobrowolnie podane." %}</p>
        <p class="textpolitic">{% trans "W Serwisie wykorzystywane jest narzędzie analityczne Matomo, które działa w trybie bez plików cookie i nie zbiera danych osobowych." %}</p>
        
        <h2 class="titlepolitic">{% trans "II. Administrator danych" %}</h2>
        <p class="textpolitic">{% trans "Administratorem Serwisu jest" %} <strong>Krystian Andrzejak</strong>, {% trans "adres:" %} <strong>Świdnik Witosa 1b</strong> {% trans "adres e-mail:" %} <strong>kontakt@webbykrystian.com</strong></p>
        <p class="textpolitic">{% trans "Serwis nie gromadzi ani nie przetwarza danych osobowych użytkowników w celach marketingowych ani statystycznych poza danymi anonimizowanymi w Matomo." %}</p>
        
        <h2 class="titlepolitic">{% trans "III. Cel zbierania danych" %}</h2>
        <p class="textpolitic">{% trans "Serwis przetwarza wyłącznie dane niezbędne do jego funkcjonowania oraz poprawy jakości świadczonych usług." %}</p>
        <p class="textpolitic">{% trans "Wykorzystywane dane analityczne w Matomo obejmują:" %}</p>
        <ul>
            <li class="lipolitic">{% trans "liczbę odwiedzin," %}</li>
            <li class="lipolitic">{% trans "przeglądane podstrony," %}</li>
            <li class="lipolitic"> {% trans "czas spędzony na stronie," %}</li>
            <li class="lipolitic">{% trans "typ urządzenia i przeglądarki." %}</li>
        </ul>
        <p class="textpolitic">{% trans "Dane te są całkowicie anonimowe i nie pozwalają na identyfikację użytkowników." %}</p>
        
        <h2 class="titlepolitic">{% trans "IV. Pliki cookies" %}</h2>
        <p class="textpolitic">{% trans "Serwis nie wykorzystuje plików cookie do śledzenia użytkowników ani profilowania ich działań." %}</p>
        <p class="textpolitic">{% trans "Matomo działa w trybie bez plików cookie, dzięki czemu nie zapisuje żadnych informacji na urządzeniu użytkownika." %}</p>
        <p class="textpolitic">{% trans "Użytkownik może zarządzać ustawieniami plików cookie w swojej przeglądarce, chociaż Serwis ich nie wykorzystuje do analizy danych." %}</p>
        
        <h2 class="titlepolitic">{% trans "V. Udostępnianie danych" %}</h2>
        <p class="textpolitic">{% trans "Dane zbierane w Serwisie nie są przekazywane żadnym podmiotom trzecim." %}</p>
        <p class="textpolitic">{% trans "Dane analityczne z Matomo są przetwarzane lokalnie i nie są przesyłane poza Europejski Obszar Gospodarczy (EOG)." %}</p>
        
        <h2 class="titlepolitic">{% trans "VI. Prawa użytkowników" %}</h2>
        <p class="textpolitic">{% trans "Ponieważ Serwis nie przetwarza danych osobowych użytkowników, nie ma potrzeby udostępniania mechanizmów ich usunięcia lub sprostowania." %}</p>
        <p class="textpolitic">{% trans "W razie pytań użytkownik może skontaktować się z Administratorem pod adresem" %} <strong>kontakt@webbykrystian.com</strong>.</p>
        
        <h2 class="titlepolitic">{% trans "VII. Zmiany w polityce prywatności" %}</h2>
        <p class="textpolitic">{% trans "Administrator może wprowadzać zmiany w Polityce prywatności, o czym poinformuje na stronie Serwisu." %}</p>
        <p class="textpolitic">{% trans "W przypadku zmian nie wpływających na prawa użytkowników, Polityka będzie aktualizowana bez konieczności akceptacji przez użytkownika." %}</p>
    </div>
</div>

{% endblock %}